/* importation police Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables de couleur */
:root {
    --color-primaire: #94b0da;
    --color-secondaire: #dcedff;
    --color-blanc: #FFFFFF;
    --color-blanc-texte: #b1b1b1;
    --color-noir: #202020;
    --color-gris: #8f91a2;
    --color-border: rgba(216, 216, 216, 0.3);

    --header-height: 90px;
    --border-radius: 32px;
}

/* proprietes universelles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    scroll-behavior: smooth;
}

img,
a {
    -webkit-user-drag: none;
    font-family: "Poppins";
}

::selection {
    background-color: var(--color-secondaire);
    color: var(--color-noir);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row.reverse {
    flex-direction: row-reverse;
}

/* proprietes de la page */
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--color-noir);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* icones */
i {
    font-size: 30px;
}

/* header */
header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--color-blanc);
    z-index: 999;
}

header h1 a {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-primaire);
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    padding-inline: 5px;
}

.nav_links li a {
    position: relative;
    padding: 3px 5px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-blanc);
}

.nav_links li a:after {
    content: "";
    position: absolute;
    background-color: var(--color-primaire);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: -4px;
    transition: transform 0.3s;
    border-radius: 50px;
}

.nav_links li a:hover:after {
    transform: scaleX(100%);
}

.nav_links li a:hover {
    color: var(--color-primaire);
}

/* icone hamburger */
.menu_hamburger {
    position: fixed;
    top: 20px;
    right: 10%;
    font-size: 48px;
    color: var(--color-primaire);
    display: none;
    cursor: pointer;
    z-index: 9999;
}

/* responsive header */
.header_responsive {
    width: 100%;
    height: var(--header-height);
    display: none;
    justify-content: start;
    align-items: center;
    padding: 1.5% 10%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
}

.header_responsive h1 {
    pointer-events: none;
    color: var(--color-blanc);
    font-size: 2rem;
}

/* sections */
section#accueil,
section#destinations,
section#evenements,
section#logements,
section#nourrir,
section#carte {
    width: 100vw;
    height: 100vh;
    padding-top: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* accueil */
section#accueil {
    position: relative;
}

#accueil h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 800;
    line-height: 1.1;
    color: var(--color-blanc);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    max-width: 30%;
}

#accueil h2 span {
    color: var(--color-blanc);
}

#accueil p.desc {
    font-size: clamp(.9rem, 3vw, 1.2rem);
    line-height: 1.4;
    font-weight: 400;
    color: var(--color-secondaire);
    text-align: center;
    margin-top: 12px;
    margin-bottom: auto;
    width: 30vw;
    min-width: 250px;
}

#accueil .bas {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5% 5%;
}

#accueil .bas div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 30%;
}

#accueil .bas h3 {
    font-size: clamp(1rem, 3vw, 1.4rem);
    font-weight: 500;
    color: var(--color-blanc);
    margin-bottom: 12px;
    line-height: 1.3rem;
}

#accueil .bas p {
    font-size: clamp(.8rem, 3vw, 1rem);
    font-weight: 400;
    color: var(--color-gris);
}

#accueil img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.5;
}

#accueil .rectangle {
    width: 100vw;
    height: 206px;
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0.9;
    z-index: -1;
    background: linear-gradient(0deg, var(--color-noir) 0%, rgba(0, 0, 0, 0.00) 100%);
}

/* section destinations */
section#destinations {
    min-height: 100vh;
    height: auto;
    padding: 5%;
}

#destinations h2,
#evenements h2,
#logements h2,
#nourrir h2,
#carte h2 {
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 600;
    color: var(--color-blanc);
    text-align: center;
}

h2 span {
    color: var(--color-primaire);
}

#destinations p.desc,
#evenements p.desc,
#logements p.desc,
#nourrir p.desc,
#carte p.desc {
    font-size: clamp(.8rem, 3vw, 1rem);
    font-weight: 500;
    color: var(--color-gris);
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5%;
}

#destinations .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

#destinations .card {
    position: relative;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
    overflow: hidden;
    height: 27vw;
    min-height: 280px;
    opacity: 0;
}

@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: scale(.7) translateY(50px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

#destinations .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#destinations .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--color-blanc);
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* cursor: pointer; */
    transition: backdrop-filter 0.3s ease-in-out;
}

#destinations .card .overlay:hover {
    backdrop-filter: blur(10px);
}

#destinations .card h3 {
    font-size: clamp(1rem, 3vw, 1.4rem);
    margin-bottom: 4px;
    line-height: 1;
}

#destinations .card p {
    font-size: clamp(.7rem, 3vw, .9rem);
    color: var(--color-blanc-texte);
    line-height: 1.2rem;
}

#destinations .profile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: auto;
    width: 100%;
}

#destinations .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 8px;
    position: static;
}

#destinations .profile .column {
    align-items: start;
}

#destinations .profile span {
    font-size: clamp(.8rem, 3vw, 1rem);
    font-weight: 600;
}

#destinations .profile span:last-child {
    color: var(--color-blanc-texte);
    font-weight: 400;
}

#destinations .card.large {
    grid-column: span 2;
}

#destinations .card.medium {
    grid-column: span 1;
    grid-row: span 2;
}

/* section evenements */
section#evenements {
    min-height: 100vh;
    height: auto;
    padding: 5%;
}

#evenements .row,
#evenements .row.reverse {
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#evenements img {
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 5%;
}

#evenements .row.reverse img {
    margin-right: 0;
    margin-left: 5%;
}

#evenements .column {
    width: 50%;
    align-items: start;
}

#evenements .row h3 {
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    margin-bottom: 12px;
    font-weight: 700;
    color: var(--color-blanc);
}

#evenements .row p {
    font-size: clamp(.9rem, 3vw, 1.1rem);
    color: var(--color-blanc-texte);
}

/* section logements */
section#logements {
    padding: 5%;
}

.slider1,
.slider2 {
    position: relative;
    width: 700px;
    overflow: hidden;
    /* height: 45vh; */
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
    background: radial-gradient(235.48% 138.69% at 0.9% 2.98%, rgba(117, 117, 117, 0.29) 10.74%, rgba(255, 255, 255, 0.00) 60.9%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(0.1px);
}

.slider_wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* height: 100%; */
}

.slider_wrapper .item {
    min-width: 100%;
    height: 100%;
    padding: 10% 5%;
}

.slider_wrapper img {
    width: 350px;
    height: 220px;
    margin-right: 5%;
    object-fit: cover;
    overflow: hidden;
    border-radius: calc(var(--border-radius) - 5%);
}

.slider_wrapper .column {
    align-items: start;
    width: 100%;
    height: 220px;
}

.slider_wrapper .item span {
    color: var(--color-gris);
    font-weight: 500;
    font-size: clamp(.8rem, 3vw, 1rem);
    line-height: 1;
}

.slider_wrapper .item h3 {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    font-weight: 700;
    line-height: 1;
    color: var(--color-blanc);
    margin-block: 5%;
}

.slider_wrapper .item p {
    color: var(--color-blanc);
    font-weight: 400;
    font-size: clamp(.8rem, 3vw, 1rem);
    line-height: 1.4rem;
    width: 100%;
    text-align: left;
}

.slider_nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.slider_nav button {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: var(--border-radius);
    background-color: var(--color-blanc);
    border: none;
    transition: all 0.5s ease-in-out;
    margin-inline: 4px;
}

.slider_nav .active {
    background-color: var(--color-primaire);
    width: 5%;
}

.slider_nav button:hover {
    background-color: var(--color-gris);
}

.slider_nav .active:hover {
    background-color: var(--color-primaire);
}

/* section carte */
section#carte {
    padding: 5%;
}

#carte #map {
    width: 700px;
    height: 55vh;
    min-height: 350px;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
}

/* bouton musique */
#music_control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-primaire);
    color: var(--color-noir);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999999;
}

#music_control i {
    font-size: 1.5rem;
}

#music_control:hover {
    background-color: var(--color-secondaire);
}

#music_control::after {
    content: 'Activer/Désactiver la musique';
    position: absolute;
    bottom: 10px;
    right: 55px;
    background-color: black;
    color: var(--color-blanc);
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    font-size: .8rem;
    font-weight: 400;
}

/* Montre la bulle au survol */
#music_control:hover::after {
    opacity: 1;
    visibility: visible;
}

/* attribution link */
a.attribution {
    color: var(--color-blanc);
    margin-bottom: 5%;
}

/* responsive */
@media (max-width: 1000px) {
    #accueil .bas {
        padding: 1.5% 2%;
    }

    #accueil .bas div {
        max-width: none;
    }

    #accueil .bas div:nth-child(2) h3 {
        text-align: right;
    }

    #accueil .bas p {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    #destinations .grid-container {
        gap: 15px;
    }

    #destinations .card .overlay {
        padding: 25px;
    }
}

@media screen and (max-width: 800px) {

    /* ascenseur page */
    body {
        overflow-y: auto;
    }

    /* menu hamburger */
    header {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--color-noir);
        width: 100%;
        height: 100vh;
        margin-left: 100%;
        transition: margin .5s ease-out;
        z-index: 99;
        overflow-y: auto;
    }

    .menu_hamburger_active {
        /* menu hamburger visibilité */
        margin-left: 0;
    }

    header h1 {
        display: none;
    }

    .nav_links {
        display: flex;
        flex-direction: column;
    }

    .nav_links li {
        margin: 13% 0;
    }

    .nav_links li i,
    .nav_links li a {
        font-size: clamp(1.2rem, 3vw, 1.5rem);
    }

    .nav_links li a:after {
        height: 4px;
    }

    .menu_hamburger {
        display: block;
    }

    .header_responsive {
        display: flex;
    }

    #destinations .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #destinations .card.large {
        grid-column: span 1;
    }

    #destinations .card.large:last-child {
        grid-column: span 2;
    }

    #destinations .card.medium {
        grid-column: span 1;
        grid-row: span 1;
    }

    #evenements .row,
    #evenements .row.reverse {
        flex-direction: column;
        margin-bottom: 15%;
    }

    #evenements p.desc {
        margin-bottom: 15%;
    }

    #evenements img {
        width: 60%;
        height: auto;
        margin-right: 0;
        margin-bottom: 5%;
    }

    #evenements .row.reverse img {
        margin-left: 0;
    }

    #evenements .column {
        width: 100%;
        align-items: start;
    }

    .slider1,
    .slider2 {
        width: 530px;
    }

    .slider_wrapper img {
        width: 300px;
        height: 170px;
    }

    .slider_wrapper .column {
        height: 170px;
    }

    .slider_nav button {
        width: 10px;
        height: 10px;
    }

    #carte #map {
        width: 530px;
    }
}

@media (max-width: 600px) {
    #destinations .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #destinations .card.large:last-child {
        grid-column: span 1;
    }

    #destinations .card.medium {
        grid-column: span 1;
        grid-row: span 1;
    }

    .slider1,
    .slider2 {
        width: 400px;
    }

    .slider_wrapper img {
        width: 180px;
        height: 180px;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .slider_wrapper .column {
        height: auto;
    }

    .slider_wrapper .item {
        flex-direction: column;
    }

    #carte #map {
        width: 400px;
    }
}

@media (max-width: 500px) {

    #destinations p.desc,
    #evenements p.desc,
    #logements p.desc,
    #nourrir p.desc,
    #carte p.desc {
        margin-inline: 5%;
    }

    .slider1,
    .slider2 {
        width: 280px;
    }

    .slider_wrapper img {
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 5%;
    }

    #carte #map {
        width: 280px;
    }
}